<p>Inicie um agendamento escolhendo um profissional abaixo: </p>

<ul class="providers" >
  {% for provider in data %}
    <li class="provider" >
      <div>
        <img src="/files/{{ provider.avatar }}" />
        <strong>{{provider.name}}</strong>
      </div>
      <a href="/app/appointments/new/{{provider.id}}">+</a>
    </li>
  {% endfor %}
</ul>
